* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  height: 110px;  
}

.header h1 {
  color: white; 
  text-align: center;
  padding-top: 10px;
}

body {
  font: 16px sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}

.search {
  float: right;
  margin-right: 10%;
}

.search input {
  font-size: 20px;
  padding: 10px;
}

.user-info img {
  float: left;
  margin: 0 20px 20px 0;
  max-height: 200px;
}

.repos-info li {
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions,
.repos,
.starred {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  text-transform: uppercase;
  width: 48%;
}

.repos li,
.starred li {
  padding: 10px 0;
}

.repos li + li,
.starred li + li {
  border-top: 1px solid #ccc;
}

.repos-box {
  display: flex;  
  padding: 10px;
  justify-content: space-between;
}

.repos-box div {
  margin: 5px;
}

.box-1 {
  width: 48%;
}

.box-2 {
  width: 48%;
}

.body-content {
  padding: 10px;
}

.logo-image {  
  width: 80px;
  height: 80px;
  margin-left: 10px;
  float: left;  
  position: absolute;
  margin-top: 10px;
}